html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    font-size: 20px;
}

.navbar li {
  padding: 10px;;
}

.profileHeader {
    position: relative;
    font-size: 32px;
    margin-top: 100px;
}

.team-bio {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 25px;

}

.team-bio h6 {
    margin-top: 15px;
}

.navbar-brand {
  font-size: 50px;
}

.d-flex {
  height: 50px;
}

/* changed from button to navbar button */
.navbar button {
  margin-right: 15px;
}

/* changed from form to .navbar form */
.navbar form {
  width: 500px;
}

.li {
  margin-left: 25px;
  margin-right: 25px;
}

.fa-magnifying-glass, .fa-cart-shopping, .fa-user {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 9px;
  color: gray
}

.fa-seedling {
  margin-left: 15px;
  float: left;
  color: green;
}

.fa-leaf {
  color: green;
}

.fa-copywrite {
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  float: left;
}

.fa-facebook, .fa-square-instagram, .fa-twitter {
  color: black;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  color: beige;
}

.footer2 {
  font-size: 20px;  
  padding-bottom: 15px;
}

footer {
  background-color: black;
  color: beige;
  padding: 15px;
  padding-top: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: left;
}

.about-us {
    width: 100%;
    height: auto;
    margin: 25px;
    padding: 25px;
    color: black;
    background-image: url("https://images.unsplash.com/photo-1603400521630-9f2de124b33b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us h1 {
    margin: 25px; 
    padding: 35px;
}

.about-us h2 {
  padding: 40px 35px;
}

.about-us img {
    width: 100%;
    height: 100%;
}

.about-item {
    background-color: #fff;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin: 10px 5px;
    align-content: center;
    border: 10px solid white;
}

.team-bio h6, .team-bio p {
color: aliceblue;    
}



.contact-us {
  padding: 100px;
}

.contact-us h1 {
  margin-bottom: 25px;
}

/* Start of Index.html CSS */

.carousel {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.card {
    margin: 25px;
}

.card:hover {
    opacity: .5;
    cursor: pointer;  
}

.card-body {
    justify-content: center;
}

.card img {
    height: 90%; 
}

.card-title {
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
}

.more {
  padding-top: 55px;
}

.card a {
  text-decoration: none;
  color: black; 
}

/* End of Index.html CSS */

/* Start products css */

.fashion {
  padding-left: 25px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 45px;
  color: rgb(85, 84, 84);
}

.jumbotron-image { 
        background-size: cover;
        height: 300px;
        width: auto;
        background-repeat: no-repeat;
        background-position: center;
}
   
.mb-4 {
  color: rgb(105, 53, 3);
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;;
}

.lead2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.lead, .fashion2 {
  text-align: center;
  font-size: 30px;
  
}

.fa-angle-up {
  font-size: 30px;
  float: right;
  margin-right: 15px;
  margin-top: 18px;
}

.btn-primary {
  background-color: orangered;
}

.products {
  text-align: center;
}

.list-items{
  display: flex;
}

.list-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* End products css */



